# Test Notebook
This is a test Notebook to learn basics of Python and Variables and Library functions

In [1]:
8

8

In [2]:
# This is a list. Lists always carry Sq Brackets
list = [8, 'a', 7.5]

In [3]:
list.append(None)

In [4]:
list

[8, 'a', 7.5, None]

In [ ]:
list.append('None')

In [ ]:
list

In [10]:
# Create a new function for addition of two number

def add (x, y):
    result = x + y
    return result

In [11]:
add(1,5)

6

In [12]:
x = 'a'

In [13]:
x

'a'

In [14]:
# This is a tuple
sample_tuple = ('a',1, False, None, 7.5)

In [15]:
print (sample_tuple)

('a', 1, False, None, 7.5)

In [16]:
(sample_tuple)

('a', 1, False, None, 7.5)

In [24]:
# This is a dictionary

sample_dict = {'Name': ['John','Jane'],
              'Age': [25,45],
              'Location': ['USA','UK'],
              'Income': [75000,55000]
              }

In [25]:
sample_dict

{'Name': ['John', 'Jane'],
 'Age': [25, 45],
 'Location': ['USA', 'UK'],
 'Income': [75000, 55000]}

In [26]:
sample_dict.keys()

dict_keys(['Name', 'Age', 'Location', 'Income'])

In [27]:
sample_dict.values()

dict_values([['John', 'Jane'], [25, 45], ['USA', 'UK'], [75000, 55000]])

In [28]:
sample_dict['Name']

['John', 'Jane']

In [29]:
sample_dict.items()

dict_items([('Name', ['John', 'Jane']), ('Age', [25, 45]), ('Location', ['USA', 'UK']), ('Income', [75000, 55000])])

In [30]:
sample_dict.update({'Name': ['Mary', 'Peter']})

In [31]:
sample_dict

{'Name': ['Mary', 'Peter'],
 'Age': [25, 45],
 'Location': ['USA', 'UK'],
 'Income': [75000, 55000]}

In [32]:
type(sample_dict)

dict

In [33]:
type(sample_tuple)

tuple

In [37]:
# This is a sample set
sample_set = set (['BMW',
                   'Audi',
                   'Jaguar',
                   ])

In [38]:
sample_set

{'Audi', 'BMW', 'Jaguar'}

In [39]:
'b' + 'c'

'bc'

In [40]:
 8 + 9

17

In [41]:
'8'+'9'

'89'

In [42]:
list_1 = [1,2]
list_2 = [3,4]

In [43]:
list_3 = list_1 + list_2

In [44]:
list_3

[1, 2, 3, 4]

In [46]:
'Mary' in sample_dict

False

In [47]:
'Mary' in sample_dict['Name']

True

In [48]:
x = 3/4 + 6

In [49]:
y = 5/6 + 2

In [50]:
z = 9/4 +6

In [51]:
# Function will divide two nos and add a third no to it

def my_funct(var1, var2, var3):
    result = var1/var2 +var3
    return result

In [52]:
my_funct(3,4,6)

6.75

In [53]:
my_funct(5,6,2)

2.8333333333333335

In [54]:
for position, value in enumerate(list):
        print(position, value)

0 8
1 a
2 7.5
3 None

In [55]:
def my_function(x):
    return x[::-1]

mytxt = my_function("I wonder how this text looks like backwards")

print(mytxt)

sdrawkcab ekil skool txet siht woh rednow I

In [56]:
num_list = [7,1,22,35]

In [57]:
sorted(num_list)

[1, 7, 22, 35]

In [60]:
age = 6
if age < 18:
    print('I am a minor')
else:
    print('Not a minor')

I am a minor

In [61]:
import numpy as np